.row{
    margin-left: 20px;
    margin-right: 10px;
    color:#fff
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 200px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.small-poster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.poster:hover{
    transform: scale(1.04);
}
.small-poster:hover{
    transform: scale(1.04);
}
