.nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    top:0;
    padding:20px;
    background-color:#44373707;
    background-image: linear-gradient(#44373707 );
    z-index: 5;
    transition: background-color 1s ease;
}

.logo{
    position:fixed;
    width:93px;
    object-fit: contain;
    left:48px
}
.avtar{
    width:30px;
    height: 30px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 5px;
}
.dropdown{
    position:fixed;
    width:8px;
    object-fit: contain;
    z-index: 10;
    transition: transform 0.3s linear;
    cursor: pointer;
}
.nav-items{
    display: flex;
    list-style: none;
    flex-direction: row;
    position: fixed;
    left: 150px;
}
.nav-items li{
    margin-right: 20px;
    
}
li:hover{
    color: #ffc107 !important;
}
.link{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.link:hover{
    color:rgb(192, 192, 158)
}
.right-elements{
    display: flex;
    position: fixed;
    right: 40px;
}

.right-elements .link,.search-icon,.bell{
    margin-right:15px
}
